.allclubs:hover {
  filter: brightness(0.5);
}

.all-clubs-hero {
  height: 500px;
  background: black;
  position: relative;
  max-height: 685px;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
}

.all-clubs-hero-content {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 175% */
}

.clubs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(400px, 480px);
  gap: 30px;
  margin-top: 70px;
  margin-bottom: 120px;
  padding: 0 60px;
}

.club-card {
  height: 100%;
  font-family: "Sora", sans-serif;
}

.club-card-rating {
  position: absolute;
  top: 25px;
  right: 15px;
  color: white;
  gap: 5px;
  padding: 5px 12px;
  border-radius: 100px;
  border: 1px solid var(--Stroke, #fff);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  font-size: 16px;
}

/* @media (max-width: 1140px) {
  .all-clubs-heading {
    font-size: 30px;
  }

  .all-clubs-hero-content {
    font-size: 16px;
  }

  .clubs-grid {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    padding: 0 20px;
  }
} */

@media (max-width: 768px) {
  .all-clubs-hero {
    margin: 0;
    border-radius: 0 0 20px 20px;
  }

  .clubs-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .all-clubs-hero div h1{
    font-size: 30px !important;
  }
  .all-clubs-hero div p{
    font-size: 15px !important;
  }
  .all-clubs-hero-textdiv{
    position: absolute !important;
    top: 50% !important
  }
}
