input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

/* .button-filter-backdrop{
    -webkit-backdrop-filter: blur(17px);
    backdrop-filter: blur(17px);
    background-color: #ffffff1a;
    border: 1px solid #ffffff26;
    border-radius: 15px;
    bottom: 0;
    content: "";
    z-index: 4;
} */

.react-datepicker{
    width: fit-content !important;
    border: none !important;
}

.modal-dialog{
    width: fit-content !important;
}
/* .modal-content{
    border-radius: 20px;
} */
.modal-class{
    width: 200px;
}
.headerTitle{
    font-size: 60px;
}
.alleventsheader{
    height: 500px
}

.slick-dots li{
 margin: 0px !important;
 width: 10px !important;
}
  
@media (max-width: 768px) {
.headerTitle{
    font-size: 30px !important;
    }
.alleventsheader{
    height: 400px !important
}
}

.price-filter-modal-input:active{
    border: none !important;
}

/* Override the header styles */
.react-datepicker__header {
    background-color: white;
    border-bottom: none;
  }
  
  /* Customizing the selected date */
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #000; /* Replace with the color you want */
    color: white;
  }
  
  /* Customizing the hover state */
  .react-datepicker__day:hover {
    background-color: #f0f0f0; /* Replace with the color you want for hover */
  }
  
  /* Modal customizations */
  .custom-datepicker-modal {
    /* background-color: white; */
    border-radius: 10px;
    /* Add other styling as required */
  }

  .react-datepicker__day--in-range{
    background-color: #000;
  }

  .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range){
    background-color: #000;
  }