@media (min-width: 768px) and (max-width: 1024px){
    .eventBlock{
        border-radius: 20px !important;
    }
    .total-amount {
        font-size: 20px !important;
    }
    .payment-price {
        font-size: 14px !important;
    }
  }

@media (max-width: 767px){
    .eventBlock{
        border-radius: none !important;
    }
    .payment-price{
        font-size: 12px !important;
        padding: 10px 7px !important;
    }
    .eventPoster{
        height: 100% !important;
    }
    .eventHeading{
        font-size: 1rem !important;
    }
    .eventDT{
        font-size: 12px !important
    }
    .eventV{
        font-size: 12px !important
    }
    .prgressbarpara{
        font-size: 12px !important;
    }
    .progressbarcontainer{
        gap: 20px !important;
    }
    .total-amount {
        font-size: 16px !important;
    }
    .Stage1Button{
        padding: "13px 15px" !important;
        font-size: "12px" !important
    }
}
  
@media (min-width: 1024px){
    .eventBlock{
        border-radius: 20px !important;
    }
}