@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

.row-font-primary{
    font-family: 'Cabin', sans-serif;
}
div::-webkit-scrollbar{
    display: none
}

@media screen and (min-width: 2200px) {
.col-xxl-3{
flex: 0 0 25%;
} 
}

.HeaderGlobal{
    color: #fff;
    font-family: "Sora", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

@media (max-width: 767px){
     
}

@media (min-width: 768px) and (max-width: 1025px){
    .HeaderGlobal{
        /* color: black !important; */
        font-size: 40px;
    }
    .plannerSectionMainImg{
        height: 450px !important;
    }
    .plannerSectionSubImg{
        /* height: 225px !important */
    }
}
  
@media (min-width: 1025px){
    .HeaderGlobal{
        font-size: 60px;
    }
    .plannerSectionMainImg{
        height: 650px !important;
    }
    .plannerSectionSubImg{
        /* height: 370px !important */
    }
}
