@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

.row-font-primary{
    font-family: 'Cabin', sans-serif;
}
div::-webkit-scrollbar{
    display: none
}

@media screen and (min-width: 2200px) {
.col-xxl-3{
flex: 0 0 25%;
} 
}

.HeaderGlobal{
    color: #fff;
    font-family: "Sora", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

@media (max-width: 767px){
    .plannerSectionButton{
        padding: 14px 10px !important
    }
    .heroEventHeadImg1{
        width: 90px;
        left: 150px
    }
    .heroEventHeadImg2{
        width: 90px;
        right: 150px
    }
    .eventSectionFontAlt{
        font-size: 30px;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1025px){
    .HeaderGlobal{
        /* color: black !important; */
        font-size: 40px;
    }
    .plannerSectionMainImg{
        height: 450px !important;
    }
    .plannerSectionSubImg{
        /* height: 225px !important */
    }
    .plannerSectionButton{
        padding: 12px 10px !important
    }
    .heroEventHeadImg1{
        width: 70px;
        left: 45px
    }
    .heroEventHeadImg2{
        width: 70px;
        right: 45px
    }
    .eventSectionFontAlt{
        font-size: 30px;
    }
}
  
@media (min-width: 1025px){
    .HeaderGlobal{
        font-size: 60px;
    }
    .plannerSectionMainImg{
        height: 650px !important;
    }
    .plannerSectionSubImg{
        /* height: 370px !important */
    }
    .plannerSectionButton{
        padding: 12px 10px !important
    }
    .heroEventHeadImg1{
        width: 90px;
        left: 150px
    }
    .heroEventHeadImg2{
        width: 90px;
        right: 150px
    }
    .eventSectionFontAlt{
        font-size: 40px;
    }
}
