a {
    color: black;
}

@media (min-width: 993px) {
    .logo-modulator {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
}

@media (max-width: 992px) {
    .logo-modulator {
        position: relative !important;
    }
}

.nav-filter-backdrop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #ffffff1a;
    border-radius: 15px;
    border: 1px solid #ffffff26;
    backdrop-filter: blur(17px);
}

.headerHeightClass{
 height: 120vh !important;
 border-radius: 25px !important
}

@media (max-width: 767px){
    .headerHeightClass{
        height: 135vh !important;
        border-radius: 0px !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .headerHeightClass{
        height: 50vh !important;
        border-radius: 25px
       }
}
@media (min-width: 1024px){
}