.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .scrolled .hover-underline-animation:after {
    background-color: black;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }

  .btn-hp-events:hover {
    opacity: 0.8;
  }