.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .scrolled .hover-underline-animation:after {
    background-color: black;
  }

  .profile-login-btn {
    transition: all 200ms ease-out;
  }

  .profile-login-btn:hover {
    background-color: rgb(255, 255, 255, .15);
  }

  .scrolled .profile-login-btn:hover {
    background-color: rgb(0, 0, 0, .15);
  }
  
  .cursor-pointer {
    cursor: pointer;
  }

  .btn-events {
    transition: all 200ms ease-out
  }
  .btn-events:hover {
    opacity: 0.82;
  }
  
  .see-all i {
    transition: all 200ms ease-out;
  }
  
  .see-all:hover i {
    transform: translateX(4px);
  }
  
  .btn-contact-home {
    transition: all 200ms ease-out
  }
  .btn-contact-home:hover {
    background-color: #b61938!important;
  }

  .headerFontAlt{
    font-family: "Sora", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    color: black
  }

  @media (min-width: 1025px){
    .MainpageHero{
      width: 1260px !important;
    }
  }