.login-content-logo-img {
  display: none;
}

@media (max-width: 992px) {
  .login-content-logo-img {
    width: 80%;
    margin: 0 auto 40px;
    display: block;
  }
  .headerFont{
    color: white !important;
  }
}
