@media (max-width: 767px){
    .newsletterImage{
        height: 100px !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .newsletterImage{
        height: 100px !important;
    }   
}
  
@media (min-width: 1024px){
    .newsletterImage{
        height: 150px !important;
    }
}