.newsletterColor{
    color: #fff;
    font-family: "Sora", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

@media (max-width: 767px){
    .newsletterImage{
        height: 100px !important;
        filter: invert(1) !important;
    }
    .NewsletterSection{
        background: white !important;
        height: 650px !important;
    }
    .btn-events{
        background: black !important;
        color: white !important;
    }
    .NewletterInput{
        border: 1px solid black !important;
        color: black !important;
    }
    .newsletterColor{
        font-size: 30px !important;
        color: black !important;
        color: #fff;
        font-family: "Sora", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .newsletterImage{
        height: 100px !important;
        width: 100% !important;
    }
    .NewsletterSection{
        background: black !important;
        height: 550 !important;
    }
    .btn-events{
        background: white !important;
        color: black !important;
    }
    .NewletterInput{
        border: 1px solid white !important;
        color: white !important;
    }
}
  
@media (min-width: 1025px){
    .newsletterImage{
        height: 150px !important;
        width: 100% !important;
    }
    .NewsletterSection{
        background: black !important;
        height: 550px !important;
        width: 1260px !important;
    }
    .btn-events{
        background: white !important;
        color: black !important;
    }
    .NewletterInput{
        border: 1px solid white !important;
        color: white !important;
    }
}