.sign-up-main {
  /* font-family: 'Inter', sans-serif; */
  font-family: "Sora", sans-serif;
  background-color: #0b0b0b;
  padding: 20px;
  display: flex;
  gap: 90px;
  min-height: 100vh;
  position: relative;
}

.sign-up-left {
  flex: 0 0 52%;
  border-radius: 20px;
  background: url("../../public/images/new-signup-min.jpg") no-repeat center 43%;
  background-size: cover;
  position: relative;
  padding: 20px;
}

.sign-up-left img {
  display: block;
  /* margin: 2% auto 0; */
}

.welcome {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(17px);
  margin: 0 auto 25px;
  padding: 28px;
  color: white;
  border: solid 1px rgba(255, 255, 255, 0.15);
  position: sticky;
  top: 69vh;
  bottom: 20px;
  /* transform: translateY(-24px); */
}

.welcome h3 {
  margin-bottom: 10px;
  color: #fff;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.welcome p {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.sign-up-right {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /* flex-basis: ; */
}

.sign-up-right-container {
  flex-basis: 500px;
  /* max-width: 600px; */
  margin: 0 auto;
}

.sign-up-img {
  width: 100%;
  /* object-fit: contain; */
}

.sign-up-header {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 44px;
  text-align: center;
}

.sign-up-header img {
  margin-bottom: 15px;
  display: none;
}

.sign-up-header h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.signup-close {
  position: absolute;
  height: 36px;
  width: 36px;
  top: 4%;
  right: 3%;
  border: solid white 1px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus {
  outline: 0;
  box-shadow: none;
}

@media (max-width: 992px) {
  .sign-up-main {
    justify-content: center;
  }

  .sign-up-left {
    display: none;
  }

  /* .sign-up-right {
    padding: 40px 20px 30px;
  } */

  .sign-up-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .sign-up-header img {
    width: 80%;
    margin-bottom: 40px;
    display: block;
  }

  .sign-up-header h1 {
    text-align: center;
    font-size: 28px;
  }

  .sign-up-header p {
    font-size: 16px;
  }
}
