@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Sora:wght@400;600;700&display=swap");

* {
  font-family: "Sora", sans-serif;
  /* font-weight: 700; */
}

.primary-header {
  font-family: "Righteous", cursive !important;
}

.headerFont{
  color: #fff;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
small {
  font-weight: 700 !important;
  font-size: 16px;
}

.MainHeaderText {
  font-family: "Dm Sans", "Poppins";
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.carousel-item {
  float: none;
  transition: 0s !important;
}

.css-eoZyEX {
  display: none;
}
.css-fgANvS {
  padding-top: 0px !important;
  padding-bottom: 5px !important;
}
.css-fgANvS {
  margin-bottom: 10px !important;
}

.carousel {
  height: 250px;
}

.hrsp {
  padding: 0;
  border: none;
  border-top: 1px #ccc;
  color: #333;
  text-align: center;
  font-size: 12px;
}
.hrsp::after {
  content: "or try this";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
.svgbg {
  filter: brightness(0.5);
  background-image: url("../public/images/aleksandr-popov-hTv8aaPziOQ-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.down-arrow {
  margin-left: 1px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dropdown-menu {
  /* position: absolute; */
  right: 0% !important;
  inset: 0px auto auto 0px;
  /* margin: 0px; */
  transform: translate3d(0px, 39.3333px, 0px);
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  font-weight: 800 !important;
}
.promoter-pic {
  background-image: url("../public/images/lottapeeps.jpeg");
  /* filter: blur(1px) brightness(0.7);  */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* filter: brightness(0.3) */
}
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-check-input {
  position: static !important;
  margin-top: 0rem !important;
  margin-left: 0rem !important;
}
.form-check-input:checked {
  background-color: crimson !important;
  border-color: crimson !important;
}

.react-tabs__tab-list {
  display: flex;
  border-radius: 10px;

  /* border-bottom: 0px !important; */
  border: 2px solid black !important;
  /* /* margin: 0 0 10px; */
  /* padding: 0; */
}

.react-tabs__tab--selected {
  background: black !important;
  color: white !important;
  border-bottom: none !important;
  border-radius: 5px !important;
  text-decoration: none !important;
}

.react-tabs__tab {
  border: none !important;
  border-bottom: none !important;
  display: flex !important;
  justify-content: center;
  color: black;
  bottom: 0px !important;
  width: 100% !important;
}

.tab.active {
  border-bottom-color: blue;
}


select.QuantityFields option {
  direction: rtl;
}

.activeCarousel {
  border: 5px solid white;
}

.react-multi-carousel-dot button {
  background: black !important;
}

.react-multi-carousel-dot--active button {
  width: 24px !important;
  height: 11px !important;
  background: white !important;
  border-radius: 25% !important;
}

@media only screen and (max-width: 464px) {
  .imageContainer {
    height: 230px;
  }
  .ticketImage {
    height: 230px !important;
  }
  .changeHeightComponent img {
    aspect-ratio: none;
    height: 170px !important;
  }
}

@media only screen and (min-width: 465px) {
  .imageContainer {
    height: 320px;
  }
}

@media only screen and (max-width: 464px) {
  .react-multiple-carousel__arrow {
    display: none;
  }
}

@media only screen and (min-width: 465px) {
  .react-multi-carousel-dot-list {
    display: none !important;
  }
}

.carousel-container {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.carousel-item-container {
  position: relative;
  width: 100%;
  padding-top: 80%;
}

.carousel-item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Media Screens for Mianpage ticketing component  */

@media (min-width: 768px) and (max-width: 1023px) {
  section.ticketingSection div div h1 {
    font-size: 35px !important;
  }
  section.ticketingSection div div b {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 464px) {
  section.ticketingSection div div h1 {
    font-size: 40px !important;
  }
  section.ticketingSection div div b {
    font-size: 0.8rem !important;
  }
  .MainHeader {
    height: 100vh !important;
  }
  .MainHeaderText {
    font-size: 40px !important;
  }
}

/* .modal-content{
  background: transparent !important;
  border: none !important;
} */

.date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.date-line {
  flex-grow: 1;
  height: 1px;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
}


.form-control:focus{
  box-shadow: none !important
}

.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: white !important;
  content: ">" !important;
}

.slick-slider{
  width: 100% !important;
}

