
/* @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

*{
  font-family: 'Carter One', cursive;
  /* font-family: 'Fredoka One', cursive; */
  /* font-family: 'Quicksand', sans-serif; */
  /* font-family: 'Manrope', sans-serif; */
  /* font-family: 'Eczar', serif; */
}

input::-ms-reveal,
input::-ms-clear {
        display: none;
      }
/* 
.bgclub{
background: url(http://pavbca.com/walldb/original/5/1/7/484530.jpg)center center/cover no-repeat;
  filter: blur(2px);
  z-index: -1;
} */
.carousel-item{
  float:none; 
  transition: 0s !important;
}

.css-eoZyEX{
  display: none;
}
.css-fgANvS{
  padding-top: 0px !important;
  padding-bottom: 5px !important;
}
.css-fgANvS{
  margin-bottom: 10px !important;
}
/* .css-iHXJtn{
  padding-left: 0px !important;
  padding-right: 0px !important;
} */

.carousel{
  height: 250px;
}

.hrsp{
  padding: 0;
  border: none;
  border-top:  1px  #CCC;
  color: #333;
  text-align: center;    
  font-size:12px;
}
.hrsp::after{
  content:"or try this";
  display: inline-block;
  position: relative; 
  top: -0.7em;  
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
.svgbg{
  background-color: #01374e;
  /* background-color: #33014e; */
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 190%;
  filter: brightness(1.3) ;
  /* background: linear-gradient(90deg, rgba(0, 35, 77, 0.63) 11.46%, rgba(0, 35, 77, 0.607029) 34.12%, rgba(0, 35, 77, 0.607029) 34.12%, rgba(0, 35, 77, 0.607029) 77.37%, rgba(0, 35, 77, 0.63) 77.37%), url('../public/images/rose-petals.png') center center/cover;
  background-position: bottom;
  filter: brightness(1.3) */
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.down-arrow {
  margin-left: 1px;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;

  }
/* @media screen and (min-width: 991px) {
  .posab{
    position: absolute !important;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 430px;
    overflow: scroll;
    margin-right: 10px;
    top: 100px;
    right: 0px;
  }
} */

/* suggestive fonts  */
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap'); */


/* suggestive font family */
  /* font-family: 'Quicksand', sans-serif;
  font-family: 'Manrope', sans-serif;
  font-family: 'Eczar', serif; */

.dropdown-menu{
  /* position: absolute; */
  right: 0% !important;
  inset: 0px auto auto 0px;
  /* margin: 0px; */
  transform: translate3d(0px, 39.3333px, 0px);
}
